{% extends 'dashmain.html' %}

{% block title %} إضافة منحه || خير السعوديه  {% endblock title %}

{% block body %}
    <div class="main-content-inner">
        <div class="card center">
            <div class="card-header">
              <center>  <h5 class="body-font text-green"> إضافة منحه</h5></center>
            </div>
            <div class="card-body">
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                <div class="form-group row">
                     <input class="form-control body-font" placeholder="اسم المنحه" name="course_name" id="course_name" type="text">
                </div>
                 <div class="form-group row">
                     <input class="form-control body-font" placeholder="وصف المنحه" name="course_desc" id="course_desc" type="text">
                </div>
                    <div class="form-group row">
                   <div class="col-12">
                        <label class="body-font text-green"> إختر الحالات</label>
                        <select class="form-control" multiple="multiple" name="cases" id="cases" size="5">
                            {% for case in cases %}
                                <option  value="{{ case.pk }}">{{ case.name }}</option>
                            {% endfor %}
                        </select>
                   </div>
                    </div>
                                    <div class="form-group row">
                   <div class="col-12">
                        <label for="provider" class="body-font text-green"> إختر الراعى</label>
                        <select class="form-control" name="provider" id="provider">
                            {% for pro in provider %}
                                <option class="form-control" value="{{ pro.pk }}">{{ pro.name }}</option>
                            {% endfor %}
                        </select>
                   </div>
                    </div>

                                    <div class="form-group row">
                   <div class="col-12">
                        <label class="body-font text-green"> إختر الحالات</label>
                        <select class="form-control" multiple="multiple" name="children" id="children" size="5">
                            {% for child in children %}
                                <option class="form-control" value="{{ child.pk }}">{{ child.name }}</option>
                            {% endfor %}
                        </select>
                   </div>
                    </div>
                                    <div class="form-group row">
                                    <div class="col-md-12" id="depend_div">
                                        <button type="submit" id="btn_add"
                                                class="btnn btn-teal btn-custom-1 body-font"> إضافة
                                        </button>
                                    </div>
                                </div>

                </form>
            </div>
        </div>
    </div>

{% endblock body %}


{% block javascript %}
 <script>
 $(() => {
    $("#btn_add").on('click',(event) => {
        event.preventDefault();
                     $.ajax({
                    method: 'POST',
                    url: '{% url 'add-course' %}',
                    data: {
                        'course_name': $('#course_name').val(),
                        'provider': $('#provider').val(),
                        'course_desc': $('#course_desc').val(),
                        'cases': $('#cases').val(),
                        'children': $('#children').val(),
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.data === 1) {
                            swal({
                                title: "تم",
                                text: "تم  بنجاح",
                                icon: "success",
                                button: "إغلاق",
                            });
                            window.location.href = "{% url 'found-list' %}"
                        } else {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع البيانات",
                                icon: "error",
                                button: "إغلاق",
                            });
                        }
                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });

    });
 });
 </script>
{% endblock javascript %}