{% extends 'dashmain.html' %}
{% load static %}


{% block  title %} إضافة محتاج || خير السعوديه {% endblock title %}


{% block body %}
    <div class="site-section">
        <div class="card center">
            <div class="card-header">
                <center><p class="body-font text-green">إضافة محتاج</p></center>
            </div>
            <div class="card-body">
                <div class="site-section py-12 bg-white">
                    <div class="row">
                        <div class="col-md-12 d-flex">
                            <div id="create_case">
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-md-6 mb-4 mb-lg-0">
                                            <input type="text" name="name" id="name" class="form-control"
                                                   placeholder="الأسم">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" name="phone" id="phone" class="form-control"
                                                   placeholder="الهاتف">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="text" name="parent_name" id="parent_name"
                                                   class="form-control"
                                                   placeholder="إسم العائل">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="text" name="national_id" id="national_id"
                                                   class="form-control"
                                                   placeholder="الهويه">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="case_type" class="text-cursive h5 text-red">حالة السكن</label>
                                            <select class="form-control" id="address">
                                                <option value="ملك">ملك</option>
                                                <option value="إيجار">إيجار</option>
                                                <option value="أخرى">أخرى</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12" id="status_div">
                                            <label for="status" class="text-cursive h5 text-red">الحاله
                                                الأجتماعيه</label>
                                            <select class="form-control" id="status">
                                                <option value="مطلقة">مطلقة</option>
                                                <option value="ارملة">ارملة</option>
                                                <option value="مهجورة">مهجورة</option>
                                                <option value="متزوجة">متزوجة</option>
                                                <option value="زوجة سجين">زوجة سجين</option>

                                            </select>
                                            <button type="button" id="btn_other" class="btn btn-outline-success btn-sm">
                                                أخرى
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <input type="number" name="case_age" id="case_age"
                                                   class="form-control"
                                                   placeholder="العمر">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" name="case_number" id="case_number"
                                                   class="form-control"
                                                   placeholder="رقم الحاله">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="department" id="department"
                                                   class="form-control"
                                                   placeholder="المنطقه">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 mb-4 mb-lg-0">
                                            <input type="text" name="emp_name" id="emp_name" class="form-control"
                                                   placeholder="إسم الموظف">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" name="amount" id="amount" class="form-control"
                                                   placeholder="المبلغ">

                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="job" id="job" class="form-control"
                                                   placeholder="الحرفه أو المهنه">

                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="case_type" class="text-cursive h5 text-red">مصدر الدخل</label>
                                            <select class="form-control" id="source_type">
                                                <option value="راتب شهري">راتب شهري</option>
                                                <option value="ضمان اجتماعي">ضمان اجتماعي</option>
                                                <option value="حساب مواطن">حساب مواطن</option>
                                                <option value="أخرى"> أخرى</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="health_status" class="text-cursive h5 text-red">الدعم المقدم
                                                <hr/>
                                                <br>
                                            </label>
                                            <input type="radio" id="first_opt" name="first_opt" value="تفريج كربه"/>
                                            <label for="first_opt">تفريج كربه</label><br>
                                            <input type="radio" id="second_opt" name="second_opt"
                                                   value="الضائقة المالي "/>

                                            <label for="second_opt">الضائقة المالية</label><br>
                                            <div id="options">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="health_status" class="text-cursive h5 text-red">الحاله
                                                الصحيه</label>
                                            <select class="form-control" id="health_status">
                                                <option value="مريض">مريض</option>
                                                <option value="حاله حرجه">حاله حرجه</option>
                                                <option value="صحه جيده">صحه جيده</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="enable_needy" class="text-cursive h5 text-red"> مرشح
                                                للتمكين </label>
                                            <select class="form-control enable_needy" id="enable_needy">
                                                <option value="1">مرشح</option>
                                                <option value="2">غير مرشح</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12" id="depend_div">
                                            <button type="button" id="btn_depend" class="btn btn-outline-success"> إضافة
                                                إبن
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group row">
                                            <div class="col-md-12" id="depend_div">
                                                <button type="submit" id="btn_submit"
                                                        class="btnn btn-teal text-white py-4 btn-custom-1 body-font">
                                                    إضافة
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
    <script>
        var ages = [];
        var genders = [];
        var case_types = [];
        var user_id = sessionStorage.getItem('user_id');
        var enable_teen = [];
        var child_names = [];
        $(() => {
            $("#btn_other").on('click', event => {
                event.preventDefault;
                $("#status_div").empty();
                $("#status_div").append(`
                                              <label for="status" class="text-cursive h5 text-red">الحاله الأجتماعيه</label>
              <input type="text" name="status" id="status"
                                                   class="form-control"
                                                   placeholder="الحاله الأجتماعيه">
`)
            });
            $("#btn_depend").on('click', event => {
                event.preventDefault();
                add_dependency();

            });
            $("#btn_submit").on('click', event => {
                event.preventDefault();
                $(".age").each(function (i, obj) {
                    console.log(obj)
                    ages.push($(this).val())
                    console.log(ages);
                });
                $(".gender").each(function (i, obj) {
                    console.log(i, obj)
                    genders.push($(this).val())
                    console.log(genders);

                });
                $(".case_type").each(function (i, obj) {
                    case_types.push($(this).val())
                    console.log(case_types);

                });
                $(".enable_teen").each(function (i, obj) {
                    enable_teen.push($(this).val())
                    console.log(enable_teen);

                });
                $(".child_name").each(function (i, obj) {
                    console.log(obj)
                    child_names.push($(this).val())
                    console.log(child_names);
                });
                var korba_type = $("#korba").val()
                debugger;
                // let  result =   checkamount(korba_type , money , user_id);


                $.ajax({
                    method: 'POST',
                    url: '{% url 'create-needy-ajax' %}',
                    data: {
                        'name': $('#name').val(),
                        'national_id': $('#national_id').val(),
                        'address': $('#address').val(),
                        'phone': $('#phone').val(),
                        'status': $('#status').val(),
                        'case_age': $('#case_age').val(),
                        'job': $('#job').val(),
                        'case_number': $('#case_number').val(),
                        'health_status': $('#health_status').val(),
                        'source_type': $('#source_type').val(),
                        'parent_name': $('#parent_name').val(),
                        'depend_ages': ages,
                        'depend_genders': genders,
                        'depend_cases_type': case_types,
                        'korba_type': korba_type,
                        'amount': $("#amount").val(),
                        'enable_teen': enable_teen,
                        'child_names': child_names,
                        'enable_needy': $("#enable_needy").val(),
                        'emp_name': $("#emp_name").val(),
                        'department': $("#department").val(),
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.data === 1) {
                            swal({
                                title: "تم",
                                text: "تم  بنجاح",
                                icon: "success",
                                button: "إغلاق",
                            });
                            window.location.href = "{% url 'home-employee' %}"
                        } else {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع البيانات",
                                icon: "error",
                                button: "إغلاق",
                            });
                        }
                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });

            });
            $("#first_opt").on('click', event => {
                event.preventDefault();
                $("#options").empty();
                $("#options").append(`    <select class="form-control" id="korba">
                                                <option value="ايجار سكني">ايجار سكني</option>
                                                <option value="فاتورة كهرباء">فاتورة كهرباء</option>
                                                <option value="فاتورة مياة">فاتورة مياة</option>
                                                <option value="موؤنة غذائية"> موؤنة غذائية</option>
                                                <option value="دعم علاج"> دعم علاج</option>
                                                <option value="دعم التعليم"> دعم التعليم</option>
                                            </select>`);

            });
            $("#second_opt").on('click', event => {
                event.preventDefault();
                $("#options").empty();
                $("#options").append(`    <select class="form-control" id="korba">
                                                <option value="تطوع ">تطوع </option>
                                                <option value="تدريب اون لاين">تدريب اون لاين</option>
                                                <option value="تدريب حضور
توظيف
"> تدريب حضور
توظيف
</option>
                                                <option value="دعم مشروع"> دعم مشروع</option>
                                                <option value="اخرى">اخرى </option>
                                            </select>`);

            });
        });

        function add_dependency() {
            //   $("#depend_div").empty();
            $('#depend_div').append(`
                                            <h5 class="text-cursive h5 text-red">إضافة الأبناء </h5>
<hr/>
                                            <label for="case_type" class="text-cursive h5 text-red">النوع </label>
                                            <select class="form-control gender" id="gender">
                                                <option value="M">ذكر</option>
                                                <option value="F">أنثى</option>
                                            </select>
                    <label for="case_type" class="text-cursive h5 text-red">المرحله الدراسيه </label>
                                            <select class="form-control case_type" id="case_type">
                                                <option value="التمهيدى">التمهيدى</option>
                                                <option value="الأبتدائى">الأبتدائى</option>
                                                 <option value="الأعدادى">الأعدادى</option>
                                                <option value="الثانوى">الثانوى</option>
                                                <option value="الجامعه">الجامعه</option>
                                            </select>
                                            <input type="number" name="age" id="age"
                                                   class="form-control age"
                                                   placeholder="العمر">
                                  <input type="text" name="child_name" id="child_name"
                                                   class="form-control child_name"
                                                   placeholder="الأسم">
 <label for="enable_teen" class="text-cursive h5 text-red"> مرشح للتمكين </label>
                                            <select  class="form-control enable_teen" id="enable_teen">
                                                <option value="1">مرشح</option>
                                                <option value="2">غير مرشح</option>
                                            </select>
               `);
        }

        function checkamount(korba, amount, user_id) {
            debugger;
            if (user_id === "2") {
                switch (korba) {
                    case 'ايجار سكني':
                        if (!(amount <= 11000)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }
                        break;
                    case 'فاتورة كهرباء' :
                        if (!(amount <= 800)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }

                        break;
                    case 'موؤنة غذائية' :
                        if (!(amount <= 6000)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }

                        break;
                    case 'فاتورة مياة' :
                        if (!(amount <= 600)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }

                        break;
                    default:
                        if (!(amount <= 11000)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }
                }
            } else if (user_id === "3") {
                switch (korba) {
                    case 'ايجار سكني':
                        if (!(amount <= 1500)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }
                        break;
                    case 'فاتورة كهرباء' :
                        if (!(amount <= 1200)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }

                        break;
                    case 'موؤنة غذائية' :
                        if (!(amount <= 6000)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }

                        break;
                    case 'فاتورة مياة' :
                        if (!(amount <= 600)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }

                        break;
                    default:
                        if (!(amount <= 11000)) {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع قيمة المدخلات",
                                icon: "error",
                                button: "إغلاق",
                            });
                            return false;
                        }
                }

            }
        }
    </script>
{% endblock javascript %}

