{% extends 'dashmain.html' %}

{% block title %} قائمة المحتاجين {% endblock title %}


{% block body %}

    <div class="card center">
    <div class="card-header">
        <center><p class="body-font text-green">قائمة الحالات</p></center>
    </div>
        <div class="container">
            <div class="row">
                <div class="site-section py-12 bg-white">

                    <div class="card-body">

                        {% for needy in needies %}
                            <div class="col-md-4">
                                <div class="card" style="width: 20rem;">
                                    <form >
                                    {% csrf_token %}
                                    <input type="hidden" id="needy_id" value="{{ needy.pk }}">
                                        </form>
                                    <div class="card-body">
                                        <h5 class="text-cursive h5 text-red">رقم الحاله</h5>
                                        <h6 class="text-cursive h5 text-black">{{ needy.case_number }}</h6>
                                        <h5 class="text-cursive h5 text-red">الهويه</h5>
                                        <h6 class="text-cursive h5 text-black">{{ needy.national_id }}</h6>
                                        <h5 class="text-cursive h5 text-red">السكن</h5>

                                        <p class="text-cursive h5 text-black">{{ needy.home }}</p>

                                    </div>
                                    <div class="card-footer">
                                      {% if request.user.user_type == 2 or request.user.user_type == 1  %}
                                        <a class="btn btn-info btn-sm body-font" href="{% url 'needy-detail' needy.pk %}"><span class="fa fa-dashboard"></span></a>
                                        <button class="btn btn-danger btn-sm body-font" id="btn_delete" type="button"><span class="fa fa-trash"></span></button>
                                         {% endif  %}
                                        <a class="btn btn-success btn-sm body-font" href="{% url 'needy-detail' needy.pk %}"><span class="fa fa-pencil "></span></a>
                                    </div>
                                </div>
                                <hr/>
                            </div>

                        {% endfor %}
                    </div>
                          <hr/>
                                        <a class="btn btn-success body-font" href="{% url 'home-employee' %}"><span class="fa fa-backward "></span>الرجوع</a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascript %}
    <script>
    $(()=> {
        $("#btn_delete").on('click' , event => {
           event.preventDefault();
            alert('helo')
                    $.ajax({
                        method: 'POST',
                        url: '{% url 'needy-delete' %}',
                        data: {
                            'needy_id': $('#needy_id').val(),
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function (data) {
                            if (data.data === 1) {
                                swal({
                                    title: "تم",
                                    text: "تم  بنجاح",
                                    icon: "success",
                                    button: "إغلاق",
                                });
                          window.location.reload();
                            } else {
                                swal({
                                    title: "خطا",
                                    text: "من فضلك راجع البيانات",
                                    icon: "error",
                                    button: "إغلاق",
                                });
                            }
                        },
                        error: function (error) {
                            alert(error.responseText)
                        }
                    });

        });

    });
    </script>

    {% endblock javascript %}