{% extends 'main.html' %}


{% block title %} صفحة متطوع || خير السعوديه  {% endblock title %}



{% block content %}
    <div class="ftco-blocks-cover-1">
        <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
        <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
             style="background-image: url('../../../static/images/kheer_2030.png')">
            <div class="container">
                <div class="row align-items-center ">

                    <div class="col-md-5 mt-5 pt-5">
                        <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
                        <h1 class="mb-3 font-weight-bold body-font">متطوع || الرئيسيه</h1>
                        <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span class="mx-3">/</span>
                            <strong>مشاركه فى الخير </strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

  <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top pt-5 center">
    <div class="card">
        <div class="card-title">
       <center>   <p style="font-size: larger;" class="text-cursive text-green" id="employee_name">خير السعوديه</p> </center>
        </div>
        <div class="card-body" id="employee_body">

        </div>
    </div>


                    </div>
                </div>
            </div>
            <div class="row">
                                <div class="col-md-12">
                    <div class="border-top pt-5 center">
    <div class="card">
        <div class="card-title">
       <center>   <p style="font-size: larger;" class="text-cursive text-green" >الشهادات</p> </center>
        </div>
        <div class="card-body" id="cer_body">
           {% for cer in certificates %}
                <p class="text-cursive h5 text-black " >{{ cer.name }}</p>
                                       <hr/>
  <h2 class="text-cursive h5 text-red  " >الجمعيه</h2>
                                       <p class="text-cursive h5 text-black " >{{ cer.found.name }}</p>
                                       <hr/>
  <h2 class="text-cursive h5 text-red  " >الشهاده</h2>
                                      <a class="btn btn-success body-font text-white" href="{{ cer.paper.url }}">تحميل</a>
                                       <hr/>
  <h2 class="text-cursive h5 text-red  " >وصف العمل</h2>
                                       <p class="text-cursive h5 text-black " >{{ cer.description }}</p>
                                       <hr/>
            {% endfor %}
        </div>
    </div>


                    </div>
                </div>

            </div>
        </div>
  </div>

{% endblock content %}


{% block javascript %}
<script>
var id = sessionStorage.getItem('user_id')
$(()=> {
                   $.ajax({
                    method: 'GET',
                    url: '{% url 'get-found-emp-info' %}',
                    data: {
                        'user_id': id,
                    },
                    success: function (data) {
                        console.log(data)
                        volunteer = JSON.parse(data.volunteer);


                        $("#employee_body").empty();
                        $("#employee_body").append(`
                           <h2 class="text-cursive h5 text-red  " >الأسم</h2>
                                       <p class="text-cursive h5 text-black " >${volunteer[0].fields.first_name}</p>
                                       <hr/>
  <h2 class="text-cursive h5 text-red  " >العنوان</h2>
                                       <p class="text-cursive h5 text-black " >${volunteer[0].fields.address}</p>
                                       <hr/>
  <h2 class="text-cursive h5 text-red  " >الهاتف</h2>
                                       <p class="text-cursive h5 text-black " >${volunteer[0].fields.phone}</p>
                                       <hr/>
  <h2 class="text-cursive h5 text-red  " >البريد الألكترونى</h2>
                                       <p class="text-cursive h5 text-black " >${volunteer[0].fields.email}</p>
                                       <hr/>
                        `)

                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });

});
</script>

{% endblock javascript %}