{% extends 'main.html' %}
{% load static %}
{% block title %} خير السعوديه || قائمة الحالات{% endblock title %}


{% block content %}
    <main>
        <div class="ftco-blocks-cover-1">
            <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
            <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
                 style="background-image: url('../../../static/images/tamken.png')">
                <div class="container">
                    <div class="row align-items-center ">

                        <div class="col-md-5 mt-5 pt-5">
                            <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
                            <h1 class="mb-3 font-weight-bold body-font">المستفيدين || الرئيسيه</h1>
                            <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span
                                    class="mx-3">/</span>
                                <strong>مشاركه فى الخير </strong></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="site-logo center">
                <img src="{% static 'images/form_tatw3.png' %}" class="img-fluid"/>
            </div>
            <div class="container bg-home">
                <div class="row">
<center>
                        <h2 class="head-size body-font text-green">المستفيدين</h2>
<hr/>
</center>
                </div>
                    <div class="row">
                        {% for case in cases %}
                            <div class="col-4">
                                <div class="card" style="text-align: right;">
                                    <div class="card-header">
                                        <center>
                                            <i class="fa fa-bars text-green" style="display: inline-block;"
                                               aria-hidden="true"></i>
                                            <h3 class="card-title body-font" style="display: inline-block;"> رقم
                                                الحاله </h3>

                                            <p class="card-title body-font text-green"
                                               style="display: inline-block; "> {{ case.case.case_number }}</p>
                                        </center>
                                    </div>
                                    <div class="card-body ">
                                        <i class="fa fa-user text-green" aria-hidden="true"
                                           style="display: inline-block;"></i>
                                        <h3 class="card-title body-font" style="display: inline-block;"> الحاله
                                            الصحيه:</h3>

                                        <p class="card-title body-font text-green"
                                           style="display: inline-block; text-align: left !important;"> {{ case.case.health_status }} </p>

                                        <hr/>
                                        <div class="align-justify" style="display: inline-block;">
                                            <i class="fa fa-location-arrow" style="display: inline-block;"
                                               aria-hidden="true"></i>
                                            <h3 class="card-title body-font text-green" style="display: inline-block;">
                                                المنطقه</h3>

                                            <p class="card-title body-font text-green"
                                               style="display: inline-block;"> {{ case.case.department }} </p>

                                        </div>
                                        <hr/>
                                        <i class="fa fa-bed" aria-hidden="true" style="display: inline-block;"></i>
                                        <h3 class="card-title body-font text-green" style="display: inline-block;">
                                            العمر</h3>

                                        <p class="card-title body-font text-green"
                                           style="display: inline-block;"> {{ case.case.age }} </p>

                                        <hr/>
                                        {% if case.case.dependencies.count %}
                                            <i class="fa fa-bed" aria-hidden="true" style="display: inline-block;"></i>
                                            <h3 class="card-title body-font text-green" style="display: inline-block;">
                                                عدد الأبناء</h3>

                                            <p class="card-title body-font text-green"
                                               style="display: inline-block;"> {{ case.case.dependencies.count }} </p>

                                            <hr/>
                                        {% endif %}

                                        <img width="40" height="40" src="{% static 'images/coins.png' %}"
                                             class="img-fluid"/>
                                        <h3 class="card-title body-font text-green" style="display: inline-block;">
                                            المبلغ </h3>

                                        <p class="card-title body-font text-green"
                                           style="display: inline-block;"> {{ case.case.amount }} </p>

                                        <hr/>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="{{ case.case.total_donations }}"
                                                 aria-valuemin="0" aria-valuemax="{{ case.case.amount }}"
                                                 style="background-color: #5DBD7E ; width:50%; display: inline-block;">
                                            </div>
                                        </div>
                                        <hr/>
                                        {% if case.case_type == 1 %}
                                            <p><img width="70" height="70"
                                                    src="{% static 'images/electricty.png' %}" class="img-fluid"
                                                    alt="card image"></p>
                                            <h4 class="card-title body-font" style="display: inline-block;">دعم
                                                الكهرباء</h4>
                                            <p class="card-text body-font">{{ case.details }}</p>
                                        {% endif %}
                                        {% if case.case_type == 2 %}
                                            <img width="70" height="70" src="{% static 'images/takfel.png' %}"
                                                 class="img-fluid" alt=" image" style="display: inline-block;" >
                                            <h4 class="card-title body-font" style="display: inline-block;">دعم
                                                الغذاء</h4>
                                            <p class="card-text body-font"
                                               style="display: inline-block;">{{ case.details }}</p>
                                        {% endif %}
                                        {% if case.case_type == 3 %}
                                            <p><img width="70" height="70" src="{% static 'images/education.png' %}"
                                                    class="img-fluid" alt="card image"></p>
                                            <h4 class="card-title body-font  text-green" style="display: inline-block;">
                                                دعم التعليم</h4>
                                            <p class="card-text body-font text-black"
                                               style="display: inline-block;">{{ case.details }}</p>
                                        {% endif %}
                                        {% if case.case_type == 4 %}
                                            <p><img width="70" height="70" class="img-fluid"
                                                    src="{% static 'images/water.png' %}" alt="card image"></p>
                                            <h4 class="card-title body-font text-green" style="display: inline-block;">
                                                دعم الماء</h4>
                                            <p class="card-text body-font text-black"
                                               style="display: inline-block;">{{ case.details }}</p>

                                        {% endif %}
                                        {% if case.case_type == 5 %}
                                            <p><img width="70" height="70" class="img-fluid"
                                                    src="{% static 'images/login_new.png' %}" alt="card image"></p>
                                            <h4 class="card-title body-font text-green" style="display: inline-block;">
                                                دعم الملبس</h4>
                                            <p class="card-text body-font text-black"
                                               style="display: inline-block;">{{ case.details }}</p>

                                        {% endif %}
                                        <hr/>
                                        <center>
                                            <a href="{% url "payment" case.pk %}"
                                               class="btn btn-teal text-white btn-sm body-font">
                                                تقديم الدعم</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock content %}