{% load static %}
<footer class="site-footer" style="height: 580px; width: 100%; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="justify-content-center">
                <center>  <h3 class="body-font"> تواصل معنا</h3> </center>
                    <hr/>
                </div>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-6 mb-4 mb-lg-0">
                            <input type="text" name="name" id="name" class="form-control"
                                   placeholder="الأسم">
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="phone" id="phone" class="form-control"
                                   placeholder="الهاتف">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" name="address" id="address"
                                   class="form-control"
                                   placeholder="العنوان">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" name="message" id="message"
                                   class="form-control"
                                   placeholder="الرساله">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-12" id="btn add">
                          <center>      <button type="submit" id="btn_add"
                                        class="btn btn-teal btn-custom-1 body-font text-white"> إرسال
                                </button></center>
                            </div>
                        </div>

                    </div>

                </form>

            </div>

            <div class="col-lg-4 center">

               <center><p class=" text-white body-font">نيسر الخير لأهل الخير </p></center>
                <hr/>
               <center><p class=" text-white body-font">للتواصل عبر البريد الألكترونى </p></center>
               <center><p class="text-white text-cursive" style="font-size: 15px;">   info@kheer.com </p>
                 <a style="display: inline-block;margin: 3px;" href="#"><span class="icon-facebook text-white"></span></a>
                    <a style="display: inline-block; margin: 3px;" href="https://twitter.com/ksakhair?s=11"><span class="icon-twitter text-white"></span></a>
                    <a style="display: inline-block; margin: 3px;" href="https://www.instagram.com/ksakhair/"> <i class="fa fa-instagram text-whit" aria-hidden="true"></i>
</a>
               </center>
                <hr/>
               <center><p class="mb-5 text-white body-font">4092-12393 ص.ب    </p></center>

            </div>

            <div class="col-lg-4">
                <a class="twitter-timeline" data-width="350" data-height="350" data-dnt="true"
                   href="https://twitter.com/KSAKhair?ref_src=twsrc%5Etfw">Tweets by KSAKhair</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-3">
                <img  src="{% static 'images/white-logo.png' %}"  width="100" height="50"  alt="logo" style="margin:5px;"/>

            </div>
            <div class="col-7 " style="margin-right: 100px;">

              <p style="display: inline-block; margin: 3px;" class="body-font text-white"> طرق الدفع الألكترونى</p>
                             <img style="display: inline-block; margin: 5px;" width="50" height="50" src="{% static 'images/mada.svg' %}" alt="logo"/>
                <i style=" display: inline-block; margin: 5px;" class="fa fa-paypal fa-lg text-white"  aria-hidden="true"></i>
           <i style="display: inline-block; margin: 5px;;" class="fa fa-cc-mastercard fa-lg text-white" aria-hidden="true"></i>
<i class="fa fa-cc-visa fa-lg text-white" aria-hidden="true" style="display: inline-block; margin: 5px;"></i>
            </div>
        </div>
    </div>
</footer>

