{% load static %}
<header class="site-navbar site-navbar-target" role="banner">

    {#    <div class="container mb-3" style="background-color: #5DBD7E;">#}
    {#        <div class="d-flex align-items-center">#}
    {#            <div class="site-quick-contact d-none d-lg-flex ml-auto ">#}
    {#                <div class="d-flex site-info align-items-center mr-5 text-cursive">#}
    {#                                    <span class="block-icon mr-3"><i class="fa fa-plus fa-xs text-white" id="inc_size"></i></span>#}
    {#                                    <span>حجم النص</span>#}
    {#                </div>#}
    {#                <div class="d-flex site-info align-items-center text-cursive">#}
    {#                                    <span class="block-icon mr-3 "><i class="fa fa-minus fa-xs text-white"  id="dec_size"></i></span>#}
    {#                                    <span><br></span>#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="container">
        <div class="menu-wrap ">
            <span class="d-inline-block d-lg-none"><a href="{% url 'home-page' %}"
                                                      class="text-black site-menu-toggle js-menu-toggle py-5"><span
                    class="icon-menu h3 text-black"></span></a></span>


            <nav style="margin-left: 100px;" class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">

                <ul class="site-menu main-menu js-clone-nav mr-auto ">
                    <li style="font-size: 14px;  "><img src="{% static 'images/white-logo.png' %}" width="100" /></li>
                    <li style="font-size: 14px;  " class="text-cursive"><a href="{% url 'home-page' %}" class="nav-link ">الرئيسية</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a  style="font-size: 14px;  " class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            حول المؤسسة
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'about-page' %}">
                            عن خير السعودية
                            </a>
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'roaya' %}"> 	رسالتنا ورؤيتنا
                                                            <a class="dropdown-item text-cursive" href="{% url 'tamkeen' %}"> 	تكافل و تمكين

                            </a>

                            <div class="dropdown-divider"></div>
                                    <a style="font-size: 14px;  " class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            برامجنا
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'effect' %}">
                                المنتجات التكافليه الداعمه</a>
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'green-circle' %}">
                                الدائره الخضراء</a>
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'pernamg' %}">
                                برنامج التغيير الثقافى و الأثر للجمعيات
                            </a>
                            <div class="dropdown-divider"></div>

                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'training' %}">
                                التمكين و التدريب</a>
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'ramdan' %}">
                                رمضان الخير </a>

                        </div>
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'ksa2030' %}">	خير السعودية ضمن 2030</a>

                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'register-volunteer' %}" >تطوع معنا
                            </a>

                        </div>
                    </li>
{#                    <li class="nav-item dropdown">#}
{#                        <a style="font-size: 14px;  " class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"#}
{#                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            برامجنا#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'effect' %}">#}
{#                                المنتجات التكافليه الداعمه</a>#}
{#                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'green-circle' %}">#}
{#                                الدائره الخضراء</a>#}
{#                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'pernamg' %}">#}
{#                                برنامج التغيير الثقافى و الأثر للجمعيات#}
{#                            </a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'enable-list' %}">#}
{#                                برامج التأثير </a>#}
{#                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="#">#}
{#                                التمكين و التدريب</a>#}
{#                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="#">#}
{#                                رمضان الخير </a>#}
{##}
{#                        </div>#}
{#                    </li>#}
                    {% if request.user.user_type == null %}
                        <li><a href="{% url 'login' %}" class="nav-link text-cursive">
                            تسجيل الدخول</a></li>
                    {% endif %}
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            إنشاء حساب </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'register-needy' %}">
                                مستفيد</a>
                            <a style="font-size: 14px;  "class="dropdown-item text-cursive" href="{% url 'register-donator' %}">
                                فاعل خير</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="font-size: 14px;  " class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            الخدمات الالكترونية
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.user.first_name %}
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url "technical-support" %}">
                                دعم فنى </a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'contact-page' %}">
                                الشكاوى و الأستفسارات</a>
                            <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'faq' %}">
                                الأسئله المتكرره</a>

                        </div>
                    </li>
                    {% if request.user.user_type %}
                        <li class="nav-item dropdown">
                            <a style="font-size: 14px;  " class="nav-link dropdown-toggle text-cursive" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الصفحه الشخصيه
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'user-profile' %}">  {{ request.user.first_name }}  </a>
                                <div class="dropdown-divider"></div>
                                <a style="font-size: 14px;  " class="dropdown-item text-cursive" href="{% url 'logout' %}"> خروج</a>

                            </div>
                        </li>
                    {% endif %}
          <li><a style="font-size: 14px;  " href="{% url 'login' %}" class="nav-link text-cursive">
                            متجر خير السعودية</a></li>
                </ul>
            </nav>
        </div>
    </div>


</header>

