{% extends 'main.html' %}
{% load static %}

{% block title %}الدائرة الخضراء  {% endblock title %}

{% block content %}
   <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../../static/images/green-circle.jpg')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
              <h1 class="mb-3 font-weight-bold body-font">الدائرة الخضراء</h1>
              <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span class="mx-3">/</span> <strong>الدائرة الخضراءه</strong></p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/about-green.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
<span class="text-cursive h5 text-green head-size">الدائرة الخضراء </span>
            <p class="body-font text-black " style="font-size: 20px;"><span>

وهي تحويل فريق المنح داخل الجمعيات إلى دوائر خضراء
        يتم العمل على رفع وعيها من خلال برامج الوعي التي تعزز العمل بحب , واختبارات الشغف
         وجعل هذا العمل ينبع من الروح ويقدم لهم حقيبة من شخصية سوما لوما , ورسائل توكيديات
         إيجابية لأهمية ما يقومون به
</span></p>

          </div>
        </div>
      </div>
    </div>




{% endblock content %}