{% extends 'main.html' %}
{% load static %}
{% block title %} خير السعودية{% endblock title %}


{% block content %}
    <div class="ftco-blocks-cover-1" style="margin-top: -113px;">
        <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="circle black-dot active" style="background-color: #0b0b0b"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="circle blue-dot" style="background-color: #2D6D93"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class="circle green-dot" style="background-color: #5DBD7E"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('../../../static/images/login.png')">
                    <div class="carousel-caption d-none d-md-block text-lay-image" style="height: 380px; width: 100%;">
                        <h2 class="body-font text-green"
                            style="color: #2D6D93 !important; font-size: 50px; font-weight: bold;">منصة الخير </h2>
                        <h5 class="body-font text-black" style="font-size: 23px; font-weight: bold;">صممت لتيسير الخير
                            لفاعل الخير ليكون ضمن دائره تكافلية موثوقة </h5>
                        <p class="body-font text-green" style="font-size: 23px; font-weight: bold;">مستمرة و ممتدة</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section ">
        <div class="container bg-home">
            <div class="row">
                <div class="col-12">
                    <center><h3 class="body-font text-green" style="font-size: 32px; font-weight: bold;"> رسالة خير</h3>
                    </center>
                    <center><p class="body-font text-black " style="font-size: 20px;">السعى  لتمكين و تفعيل التكافل
                        الأجتماعى باستخدام التقنيات الحديثه
                        للربط بين الكيانات المقتدره من المؤسسات و الأفراد و المستفيدات من الجمعيات الخيريه الرسميه فى
                        المملكه العربيه السعوديه</p></center>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="block-2" style="background-color: white">
                        <a class="btn btn-primary btn-lg btn-block body-font text-white" style="background-color: #1d5987;"
                           href="{% url 'heba-kheer' %}">هبة الخير</a>
                  <img src="{% static 'images/waheb.jpg' %}" class="img-fluid">

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="block-2" style="background-color: white">
                          <a class="btn btn-primary btn-lg btn-block body-font text-white"  style="background-color: #1d5987;"
                           href="{% url 'show-all-cases' %}">تكافل</a>
                  <img src="{% static 'images/takfel.png' %}" class="img-fluid">
                    </div>
                </div>
{#                <div class="col-lg-3">#}
{#                    <div class="block-2" style="background-color: white">#}
{#                          <a class="btn btn-primary btn-lg btn-block body-font text-white"#}
{#                           href="{% url 'tamkeen-list' %}">تمكين</a>#}
{#                  <img src="{% static 'images/tamken.png' %}" class="img-fluid">#}
{##}
{#                    </div>#}
{#                </div>#}
                <div class="col-lg-4">
                    <div class="block-2" style="background-color: white">
                          <a class="btn btn-dark btn-lg btn-block body-font text-white"
                           href="{% url 'effect' %}">دائرة الخضراء</a>
                  <img src="{% static 'images/about-green.png' %}" class="img-fluid">

                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="site-section ">
        <div class="container bg-home">
            <center><i class="circle green-dot" style=" display: inline-block" aria-hidden="true"></i>
                <i class="circle blue-dot" style=" display: inline-block" aria-hidden="true"></i>
                <i class="circle black-dot" style="display: inline-block" aria-hidden="true"></i>
            </center>
            <div class="row justify-content-center text-center mb-5 section-2-title">
                <div class="col-md-6">
                    <span class="text-cursive h5 text-red body-font" style="font-size: 25px; font-weight: bold;">مساحه للإعلانات</span>
                    <h3 class="text-white text-center body-font text-black" style="font-size: 20px; font-weight: bold;">
                        الأعلانات</h3>
                </div>
            </div>

            <div class="row" style="height: 380px; width: 100%; margin-top: -140px;">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                              aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                              aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

{#//e3lanat tanyaa#}
    <div class="site-section ">
        <div class="container bg-home">
            <center><i class="circle green-dot" style=" display: inline-block" aria-hidden="true"></i>
                <i class="circle blue-dot" style=" display: inline-block" aria-hidden="true"></i>
                <i class="circle black-dot" style="display: inline-block" aria-hidden="true"></i>
            </center>
            <div class="row justify-content-center text-center mb-5 section-2-title">
                <div class="col-md-6">
                    <span class="text-cursive h5 text-red body-font" style="font-size: 25px; font-weight: bold;">مساحه للإعلانات</span>
                    <h3 class="text-white text-center body-font text-black" style="font-size: 20px; font-weight: bold;">
                        الأعلانات</h3>
                </div>
            </div>

            <div class="row" style="height: 380px; width: 100%; margin-top: -140px;">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/bg_home.png' %}">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                              aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                              aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="site-section " style="height: 10px; width: 100%; margin-top: -180px;">
        <div class="container ">
            <div class="row mt-5 justify-content-center ">


                <div class="col-lg-3 text-center ">
                    <span class="text-green h2 d-block">3423</span>
                    <span class="body-font">متبرع</span>
                    <img alt="img" width="30" height="30" src="{% static 'images/motabr3.png' %}"/>
                </div>
                <div class="col-lg-3 text-center">
                    <span class="text-green h2 d-block">4398</span>
                    <span class="body-font"> مستفيد</span>
                    <img alt="img" width="30" height="30" src="{% static 'images/case.png' %}"/>
                </div>
                <div class="col-lg-3 text-center">
                    <span class="text-green h2 d-block">50+</span>
                    <span class="body-font">أعضاء</span>
                    <img alt="img" width="30" height="30" src="{% static 'images/emp.png' %}"/>

                </div>
                <div class="col-lg-3 text-center">
                    <span class="text-green h2 d-block">2000+</span>
                    <span class="body-font">متابع</span>
                    <img alt="img" width="30" height="30" src="{% static 'images/follower.png' %}"/>
                </div>

            </div>
        </div>


    </div>





    <div class="site-section">
        <div class="container  bg-home">
            <center><i class="circle green-dot" style=" display: inline-block" aria-hidden="true"></i>
                <i class="circle blue-dot" style=" display: inline-block" aria-hidden="true"></i>
                <i class="circle black-dot" style="display: inline-block" aria-hidden="true"></i>
            </center>
            <div class="row justify-content-center text-center mb-5 section-2-title">
                <div class="col-md-6">
                    <span class="text-cursive h5 text-red body-font" style="font-size: 25px; ;">شركاؤنا</span>
                    <h3 class="text-white text-center body-font text-black" style="font-size: 20px">أهدافنا و طموحاتنا
                        ان يصل الخير لمستحقيه</h3>
                </div>
            </div>


        </div>
        <div class="container text-center my-3" style="height: 480px; width: 100%; margin-bottom: -190px;">
            <div class="row mx-auto my-auto">
                <div id="e3lan" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/share1.png' %}" width="300" height="250">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/share2.png' %}" width="300" height="250">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/share4.png' %}" width="300" height="250">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'images/share3.png' %}" width="150" height="100">
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev w-auto" href="#e3lan" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                              aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto" href="#e3lan" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                              aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>


{% endblock content %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            var user = sessionStorage.getItem('user_id');
            console.log(user);
            $('#recipeCarousel').carousel({
                interval: 1000000
            })
            $('#e3lan').carousel({
                interval: 1000000
            })

            $('.carousel .carousel-item').each(function () {
                var minPerSlide = 3;
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i = 0; i < minPerSlide; i++) {
                    next = next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });


        });
    </script>
{% endblock javascript %}