{% extends 'main.html' %}
{%  load static %}
{% block title %} عن المؤسسسه {% endblock title %}


{% block content %}
   <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../../static/images/kheer_2030.jpg')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 " style="color: #5DBD7E"> خير السعوديه</span>
              <h1 class="mb-3 font-weight-bold body-font">خير السعوديه 2030 </h1>
              <p><a href="{% url 'home-page' %}" class="text-white">الرئيسيه</a> <span class="mx-3">/</span> <strong>خير السعوديه 2030 </strong></p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
<div class="row">
<div class="col-12">
              <div class="center">
             <center>
              <span class="text-cursive head-size text-blue">خير السعودية ضمن 2030</span>
            <h3 class="text-cursive head-size content-size">من مرتكزات الحياة أن تكون المملكة العربية السعودية " وطن طموح موطنه مسؤول ".
خير السعودية ضمن 2030</h3>
                 </center>
              <hr/>
                  <br/>
                  <br/>
                  <br/>

          </div>

</div>
</div>
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/kheer_inner.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">

                <span class="text-cursive h5 text-green head-size">المسؤولية في الحياة :</span>
    <hr/>
            <p class="body-font text-black" style="font-size: 20px;"><span>

مشروع ريادة اجتماعية منظم ذو شخصية اعتبارية ورؤية خير السعودية تمثل مسؤولية بعيدة المدى واسعة النطاق
والتاثير على الواقع ومستقبل كل من الكافلين والمستفيدات والمتطوعين والشركاء . " ان تكون خير السعودية
رائدة في مجال انسنة العمل الخيري والتكافل الاجتماعي المتناغم ونشر ثقافة الخير والعطاء بوعي
</span></p>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/hayat_kheer.png' %}" alt="Image" class="img-fluid">
          </div>

          <div class="col-md-5 ml-auto pl-md-5">
                <span class="text-cursive h5 text-green head-size" >المسؤولية في العمل  </span>
              <hr/>
            <p class="body-font text-black" style="font-size: 20px;"><span>
</span>تسهم خير السعودية في الربط بين الكيانات المقتدرة من المؤسسات والافراد والمستفيدات من الجمعيات
الخيرية للعمل على تطويرهن وتمكنيهن وتوظيفهن , وتعتمد الاستدامة قيمة أساسية في لدائها . كما
تستقطب الكفاءات التطوعية وتعمل على تطويرها وتمكينها وتوظيفها بما يخدم المجتمع .

</p>

          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/kheer_2030.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-green head-size">المسؤولية في المجتمع  </span>
       <hr/>
            <p class="body-font text-black" style="font-size: 20px;"><span>
تسهك خير السعودية في غرس قيم التكافل الاجتماعي والتطوع في المجتمع , وتتجاوز ذلك إلى توفير الفرص الفعلية
لتحقيق مبادئ انسنة العمل الخيري والعطاء بوعي التعاون بصورة تنضح معها تكاملية المجتمع السعودي


            </span></p>

          </div>
        </div>
      </div>
    </div>



{% endblock content %}